<a href="https://colab.research.google.com/github/lynnh21/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Count the number of unique values in each column
unique_counts = application_df.nunique()

# Print the number of unique values in each column
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Print the value counts
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set the cutoff value
cutoff_value = 50

# Get the value counts of APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Print the list of application types to be replaced
print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

[]

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
# Check the value counts of CLASSIFICATION column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Print the value counts
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:

# You may find it helpful to look at CLASSIFICATION value counts >1
# Check the value counts of CLASSIFICATION column for values greater than 1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Print the value counts greater than 1
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Set the cutoff value
cutoff_value = 50

# Get the value counts of CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Print the list of classifications to be replaced
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

['C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [10]:
from numpy.lib.shape_base import apply_over_axes
# Convert categorical data to numeric with `pd.get_dummies`
application_df= pd.get_dummies(application_df)
print(application_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 55 columns]

In [11]:
# Split our preprocessed data into our features and target arrays
# Split the data into features (X) and target (y) arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation='relu', input_dim=X_train.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 60)                3300

 dense_8 (Dense)             (None, 20)                1220

 dense_9 (Dense)             (None, 1)                 21

=================================================================
Total params: 4,541
Trainable params: 4,541
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model

nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [24]:
# Train the model

nn.fit(X_train, y_train, epochs=60, batch_size=47)

Epoch 1/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 2/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 3/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 4/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 5/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 6/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 7/60
584/584 [==============================] - 1s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 8/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 9/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 10/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 11/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 12/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 13/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 14/60
584/584 [==============================] - 1s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 15/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 16/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 17/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 18/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 19/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 20/60
584/584 [==============================] - 1s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 21/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 22/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 23/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 24/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 25/60
584/584 [==============================] - 2s 4ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 26/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 27/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 28/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 29/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 30/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 31/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 32/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 33/60
584/584 [==============================] - 2s 4ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 34/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 35/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 36/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 37/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 38/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 39/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 40/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 41/60
584/584 [==============================] - 2s 4ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 42/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 43/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 44/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 45/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 46/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 47/60
584/584 [==============================] - 1s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 48/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 49/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 50/60
584/584 [==============================] - 2s 4ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 51/60
584/584 [==============================] - 1s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 52/60
584/584 [==============================] - 1s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 53/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 54/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 55/60
584/584 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 56/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 57/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 58/60
584/584 [==============================] - 2s 4ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 59/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 60/60
584/584 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5320

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.8106 - accuracy: 0.6942 - 473ms/epoch - 2ms/step
Loss: 0.8105809092521667, Accuracy: 0.6941691040992737

In [27]:
nn.save("AlphabetSoupCharity_Optimization.h5")